@use "../globals" as *;
@use "../parts/common" as *;

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: $navHeight;
  background-color: transparent;
  display: flex;
  align-items: center;
  z-index: 100;

  // &.triggered {
  //   background: rgba(255, 255, 255, 0.9);
  //   box-shadow: 10px 0 25px -10px rgba(0, 0, 0, 0.5);
  // }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @extend .content-width;
  }

  &__nav {
    @extend .flex;
    justify-content: space-between;
    align-content: center;
    text-align: center;

    display: none;

    @include mq(lg) {
      display: block;
    }
  }

  &__ul {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
  }

  &__li {
    margin: 10px;

    @include mq(md) {
      margin-left: 30px;
      margin-right: 0;
    }

    & > a {
      color: $cBlack;
      text-decoration: none;
      text-transform: uppercase;
    }
  }

  & .logo {
    justify-content: center;

    @include mq(md) {
      font-size: 35px;
      justify-content: flex-start;
    }
  }
}

.logo {
  font-size: 42px;
  display: flex;

  &__img {
    width: 0.7em;
  }

  &__world {
    color: $cWineRed;
  }
}
